* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

.goals {
  padding-right: 70px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: tomato;
}

.title {
  text-align: center;
  padding: 250px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
}

.contact {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-right: 150px;
  padding-left: 150px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
}

.contacttitle {
  text-decoration: underline;
}

.contact a {
  display: block;
  color: white;
  text-decoration: none;
}

.contact a:hover {
  color: tomato;
}

.about {
  text-align: center;
  padding: 150px;
  padding-left: 35px;
  color: black;
  font-family: sans-serif;
}

.about p {
  text-align: center;
  padding-left: 100px;
  padding-right: 150px;
  font-size: 15px;
  line-height: 30px;
}

.about img {
  position: absolute;
  right: 20px;
  bottom: -400px;
  float: right;
  width: 250px;
  border-radius: 50%;
}

.portfolio {
  text-align: center;
  padding: 550px;
  padding-top: 25px;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
}

/*
.mern-pic {
  position: absolute;
  float: left;
  right: 963px;
  padding-top: 20px;
  width: 350px;
}
*/

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

#home {
  background: url(images/home.jpg);
}

#about {
}

#portfolio {
}

#resume {
}

#future-goals {
}
